colorama==0.4.6
psutil==7.1.3
slime==0.2.2
megatron-core==0.16.0rc0
slime==0.2.2
pip==25.3
supabase-auth==2.28.3
modal==1.4.1
realtime==2.28.3
uuid_utils==0.14.1
jmespath==1.1.0
scantree==0.0.4
cbor2==5.9.0
wcmatch==10.1
aws-requests-auth==0.4.3
strands-env==0.1.dev302+g73ad20e76.d20260410
types-certifi==2021.10.8.3
aiolimiter==1.2.1
botocore==1.42.87
synchronicity==0.12.2
pathspec==1.0.4
aiofiles==24.1.0
Deprecated==1.3.1
claude-agent-sdk==0.1.58
pillow==12.2.0
pyroaring==1.0.4
watchfiles==1.1.1
e2b==2.20.0
daytona_toolbox_api_client==0.163.0
opentelemetry-instrumentation==0.62b0
cachetools==6.2.6
litellm==1.83.0
tenacity==9.1.4
kubernetes==35.0.0
supabase-functions==2.28.3
pyiceberg==0.11.1
opentelemetry-instrumentation-threading==0.62b0
fastuuid==0.14.0
markdownify==1.2.2
ruff==0.15.10
storage3==2.28.3
opentelemetry-api==1.41.0
opentelemetry-instrumentation-aiohttp-client==0.62b0
daytona_toolbox_api_client_async==0.163.0
math-verify==0.9.0
strictyaml==1.7.3
opentelemetry-sdk==1.41.0
dockerfile-parse==2.0.1
beautifulsoup4==4.14.3
daytona_api_client_async==0.163.0
runloop_api_client==1.18.1
requests-oauthlib==2.0.0
zstandard==0.25.0
supabase==2.28.3
opentelemetry-exporter-otlp-proto-common==1.41.0
bracex==2.6
postgrest==2.28.3
obstore==0.8.2
slack_bolt==1.28.0
soupsieve==2.8.3
opentelemetry-proto==1.41.0
latex2sympy2_extended==1.11.0
deprecation==2.1.0
strands-sglang==0.3.7
opentelemetry-util-http==0.62b0
strands-agents==1.35.0
daytona==0.163.0
daytona_api_client==0.163.0
websocket-client==1.9.0
durationpy==0.10
slack_sdk==3.41.0
watchdog==6.0.0
grpclib==0.4.9
websockets==15.0.1
harbor==0.3.0
opentelemetry-exporter-otlp-proto-http==1.41.0
openai==2.31.0
mmh3==5.2.1
s3transfer==0.16.0
aiohttp-retry==2.9.1
types-toml==0.10.8.20260408
opentelemetry-semantic-conventions==0.62b0
boto3==1.42.87
dirhash==0.5.0
shortuuid==1.0.13
strands-agents-tools==0.4.1
slime==0.2.2
numpy==1.26.4
nvidia-cudnn-cu12==9.16.0.29
smart_open==7.5.0
typer==0.21.1
httpx-sse==0.4.3
opentelemetry-exporter-prometheus==0.60b1
googleapis-common-protos==1.72.0
qwen-vl-utils==0.0.14
memray==1.19.1
python-dotenv==1.2.1
linkify-it-py==2.0.3
hpack==4.1.0
wrapt==2.0.1
uc-micro-py==1.0.3
ring-flash-attn==0.1.8
pyasn1_modules==0.4.2
pyasn1==0.6.1
opencensus-context==0.1.3
h2==4.3.0
rsa==4.9.1
proto-plus==1.27.0
pylatexenc==2.10
mcp==1.25.0
textual==7.2.0
colorful==0.5.8
aiohttp-cors==0.8.1
google-auth==2.47.0
mdit-py-plugins==0.5.0
ray==2.53.0
av==16.1.0
hyperframe==6.1.0
shellingham==1.5.4
opencensus==0.11.4
PyJWT==2.10.1
sse-starlette==3.1.2
pydantic-settings==2.12.0
msgpack==1.1.2
accelerate==1.12.0
google-api-core==2.29.0
nvidia-modelopt==0.40.0
PuLP==3.3.0
torchprofile==0.0.4
toml==0.10.2
megatron-bridge==0.3.0rc0
hydra-core==1.3.2
overrides==7.7.0
nvidia-resiliency-ext==0.5.0
Markdown==3.10
Werkzeug==3.1.5
gitdb==4.0.12
nv-one-logger-core==2.3.1
absl-py==2.3.1
tensorboard==2.20.0
defusedxml==0.7.1
GitPython==3.1.46
StrEnum==0.4.15
nv-one-logger-training-telemetry==2.3.1
smmap==5.0.2
sentry-sdk==2.49.0
wandb==0.24.0
omegaconf==2.3.0
antlr4-python3-runtime==4.9.3
tensorboard-data-server==0.7.2
torch_memory_saver==0.0.9
megatron-core==0.16.0rc0
apex==0.1
zipp==3.23.0
importlib_metadata==8.7.1
onnx==1.20.1
onnx-ir==0.1.14
transformer_engine_cu12==2.10.0
onnxscript==0.5.7
transformer_engine==2.10.0
transformer_engine_torch==2.10.0
ml_dtypes==0.5.4
z3-solver==4.15.4.0
torch_c_dlpack_ext==0.1.5
tilelang==0.1.7.post2+cu128.git2d8d3676
flash-linear-attention==0.4.0
fla-core==0.4.0
mbridge==0.15.1
flash_attn_3==3.0.0b1
nvidia-nccl-cu12==2.27.5
flash_attn==2.7.4.post1
termplotlib==0.3.9
contourpy==1.3.3
kiwisolver==1.4.9
matplotlib==3.10.8
fonttools==4.61.1
cycler==0.12.1
nvidia-cutlass-dsl==4.3.0
annotated-types==0.7.0
propcache==0.4.1
typing-inspection==0.4.2
aiosignal==1.4.0
attrs==25.4.0
maturin==1.11.2
starlette==0.50.0
typing_extensions==4.15.0
multidict==6.7.0
sglang-router==0.3.0
setproctitle==1.3.7
anyio==4.12.1
aiohappyeyeballs==2.6.1
h11==0.16.0
pydantic==2.12.5
pydantic_core==2.41.5
fastapi==0.128.0
click==8.3.1
annotated-doc==0.0.4
frozenlist==1.8.0
uvicorn==0.40.0
idna==3.11
yarl==1.22.0
orjson==3.11.5
aiohttp==3.13.3
mooncake-transfer-engine==0.3.8
black==26.1a1
nixl-cu12==0.8.0
pytokens==0.3.0
cubloaty==0.1.0b2
isort==7.0.0
more-itertools==10.8.0
platformdirs==4.5.1
distlib==0.4.0
iniconfig==2.3.0
pytest==9.0.2
identify==2.6.15
nodeenv==1.10.0
pre_commit==4.5.1
inflect==7.5.0
mypy_extensions==1.1.0
mdurl==0.1.2
scikit_build_core==0.11.6
nixl==0.8.0
genson==1.3.0
datamodel-code-generator==0.52.2
pluggy==1.6.0
markdown-it-py==4.0.0
virtualenv==20.35.4
icdiff==2.0.7
rich==14.2.0
argcomplete==3.6.3
uv==0.9.22
cfgv==3.5.0
typeguard==4.4.4
deep_ep==1.2.1
hf-xet==1.2.0
asttokens==3.0.1
build==1.3.0
ipython_pygments_lexers==1.1.1
datasets==4.4.2
nvidia-cublas-cu12==12.9.1.4
pybase64==1.4.3
grpcio-health-checking==1.75.1
mpmath==1.3.0
nvidia-nvshmem-cu12==3.3.20
huggingface-hub==0.36.0
pyarrow==22.0.0
requests==2.32.5
flashinfer-jit-cache==0.5.3+cu129
networkx==3.6.1
tzdata==2025.3
partial-json-parser==0.2.1.1.post7
py-spy==0.4.1
nvidia-cufile-cu12==1.14.1.1
outlines_core==0.1.26
cloudpickle==3.1.2
pycountry==24.6.1
tqdm==4.67.1
setuptools==80.9.0
torchvision==0.24.1+cu129
parso==0.8.5
nvidia-nvtx-cu12==12.9.79
tiktoken==0.12.0
nvidia-cusparse-cu12==12.5.10.65
httpx==0.28.1
nvidia-cusparselt-cu12==0.7.1
traitlets==5.14.3
MarkupSafe==3.0.3
pyproject_hooks==1.2.0
sgl-kernel==0.3.20
modelscope==1.33.0
decord2==3.0.0
openai-harmony==0.0.4
executing==2.2.1
lark==1.3.1
httpcore==1.0.9
charset-normalizer==3.4.4
hf_transfer==0.1.9
cffi==2.0.0
pycryptodomex==3.23.0
tokenizers==0.22.2
flashinfer-python==0.5.3
jedi==0.19.2
lxml==6.0.2
stack-data==0.6.3
prometheus_client==0.23.1
multiprocess==0.70.18
Pygments==2.19.2
six==1.17.0
decorator==5.2.1
torchao==0.9.0
ipython==9.9.0
nvidia-cufft-cu12==11.4.1.4
psutil==7.2.1
jsonschema-specifications==2025.9.1
torchcodec==0.8.0
matplotlib-inline==0.2.1
pyzmq==27.1.0
dill==0.4.0
PyYAML==6.0.3
docstring_parser==0.17.0
gguf==0.17.1
uvloop==0.22.1
sentencepiece==0.2.1
sympy==1.14.0
loguru==0.7.3
prompt_toolkit==3.0.52
interegular==0.3.3
anthropic==0.75.0
certifi==2026.1.4
cuda-bindings==13.1.1
nvidia-cuda-runtime-cu12==12.9.79
grpcio-reflection==1.75.1
ptyprocess==0.7.0
airportsdata==20250909
torch==2.9.1+cu129
protobuf==6.33.2
diskcache==5.6.3
soundfile==0.13.1
timm==1.0.16
jsonschema==4.25.1
torchaudio==2.9.1+cu129
pexpect==4.9.0
nvidia-cuda-nvrtc-cu12==12.9.86
regex==2025.11.3
tabulate==0.9.0
scipy==1.16.3
transformers==4.57.1
xgrammar==0.1.27
flashinfer-cubin==0.5.3
xxhash==3.6.0
wheel==0.45.1
safetensors==0.7.0
einops==0.8.1
fsspec==2025.10.0
pytz==2025.2
nvidia-cudnn-frontend==1.17.0
Jinja2==3.1.6
triton==3.5.1
compressed-tensors==0.13.0
html5lib==1.1
grpcio==1.75.1
webencodings==0.5.1
apache-tvm-ffi==0.1.7
urllib3==2.6.2
wcwidth==0.2.14
cuda-pathfinder==1.3.3
llguidance==0.7.30
cuda-python==13.1.1
referencing==0.37.0
python-dateutil==2.9.0.post0
grpcio-tools==1.75.1
sniffio==1.3.1
packaging==25.0
ninja==1.13.0
nvidia-ml-py==13.590.44
pandas==2.3.3
nvidia-curand-cu12==10.3.10.19
nvidia-cuda-cupti-cu12==12.9.79
filelock==3.20.2
python-multipart==0.0.21
nvidia-cusolver-cu12==11.7.5.82
blobfile==3.0.0
pycparser==2.23
pure_eval==0.2.3
msgspec==0.20.0
rpds-py==0.30.0
outlines==0.1.11
nvidia-nvjitlink-cu12==12.9.86
nest-asyncio==1.6.0
jiter==0.12.0
sglang==0.0.0.dev1+gdce8b0606
lazr.uri==1.0.6
blinker==1.7.0
oauthlib==3.2.2
wadllib==1.3.6
distro==1.9.0
pyparsing==3.1.1
cryptography==41.0.7
cryptography==41.0.7
httplib2==0.20.4
python-apt==2.7.7+ubuntu5.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
PyGObject==3.48.2
dbus-python==1.3.2
devscripts==2.23.7
jaraco.functools==4.0.1
importlib_metadata==8.0.0
typeguard==4.3.0
tomli==2.0.1
autocommand==2.2.2
jaraco.collections==5.1.0
platformdirs==4.2.2
inflect==7.3.1
jaraco.context==5.3.0
jaraco.text==3.12.1
zipp==3.19.2
wheel==0.45.1
typing_extensions==4.12.2
backports.tarfile==1.2.0
more-itertools==10.3.0
packaging==24.2
